 .upload-card{
	max-width: 400px;

	.upload-card-content{
		padding: 0;

		.dropzone {
			color: #ccc;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			font-weight: 200;
			min-height: 200px;
			border: 1px dashed #eee;
			border-radius: 4px;
			background: white;

			&.hovering {
				border: 1px solid #aaa;
				color: #aaa;

				.upload-icon{
					color: #aaa;
				}
			}

			.upload-card-label-button {
				.upload-card-input{
					display: none;
				}

				.upload-card-button{
					line-height: 36px;
					height: 36px;
					border-radius: 4px;
					background: #eee;
					font-size: 14px;
					color: #000;
					box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
					padding: 0px 16px;
					cursor: pointer;
				}
			}

			.upload-icon{
				font-size: 64px;
				width: 64px;
				height: 64px;
				color: #ccc;
			}
		}
	}
 }



progress::-webkit-progress-value {
	transition: width 0.1s ease;
}

::ng-deep .mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
	background: #ddd;
	border-radius:  0 0 2px 2px;
}